body {
	font-family: "Roboto", sans-serif;
	background: #FFF9F4;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #000;

	&:hover {
		color: $color_bg;
		text-decoration: none;
	}
}

.btn-a {
	background: $color_bg;
	font-size: 16px;
	font-weight: 700;
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	border-radius: 21px;
	height: 40px;
	display: inline-flex;
	color: #fff;

	&:hover {
		color: $color_main;
	}
}

.object-img {
	img {
		object-fit: cover;
		object-position: 50% 50%;
		-o-object-position: 50% 50%;
		width: 100%;
		height: 100%;
	}
}

.slick {
	&-arrow {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background: #fff;
		box-shadow: 0px 0px 10px 0px #3C251733;

		//position: relative;
		&::before {
			content: '';
			position: absolute;
			width: 17px;
			height: 15px;
			opacity: 1;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			color: $color_main;
			background: url(/images/slick-prev.svg) no-repeat;
		}

		z-index: 4;
	}

	&-next {
		right: -45px;

		&::before {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}

	&-prev {
		left: -45px;

	}
}