//@import 'variable/variable';
//@import 'global';

////component
//@import 'component/header';
//@import 'component/keyframes';
//@import 'component/menu';
//@import 'component/footer';
//@import 'component/cta';
//@import 'component/post';
//@import 'component/form';
//@import 'component/breadcrumb';
//@import 'component/form_cta';

////page
//@import 'page/homepage';
//@import 'page/404';
//@import 'page/single';
//@import 'page/archive-question';
//@import 'page/single-question';
//@import 'page/category';
//@import 'page/service';
//@import 'page/service2';
//@import 'page/contact';
//@import 'page/apoitment';
//@import 'page/single-apointment';
//@import 'page/archive-medicine';
//@import 'page/archive-video';
//@import 'page/single-video';
//@import 'page/special-cat';
//@import 'page/reponsive';
@import 'page/queboi';