.archive-video {
	.section-title {
		margin-bottom: 20px;
	}

	.section-desc {
		margin-bottom: 20px;
	}
}

.list-post-video {
	row-gap: 30px;
}

.post-video {
	.post-thumbnail {
		width: 100%;
		aspect-ratio: 263/467;
		border-radius: 20px;
		margin-bottom: 15px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 54px;
			height: 54px;
			background: url(/images/icon-play.svg) no-repeat;
			background-position: center;
			background-size: cover;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.post-meta {
		display: flex;
		gap: 17px;
		margin-bottom: 0;

		.item {
			display: flex;
			gap: 6px;
			color: #777777;
			font-size: 12px;
		}
	}
}