.category {
	.box-status {
		box-shadow: 0px 0px 15px 0px #9F2C2C1A;
		border-radius: 10px;
		overflow: hidden;

		&-meta {
			border: none;
		}

		&-content {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&-img {
			&.gird-2 {
				.item {
					border-radius: 0;
				}
			}
		}

		&-views {
			padding: 20px;
			display: flex;
			justify-content: space-between;
		}

		.views {
			display: flex;
			align-items: center;
			column-gap: 30px;

			span {
				display: flex;
				gap: 6px;
				align-items: center;
			}
		}

		.link {
			display: flex;
			column-gap: 30px;

			a {
				color: $color_main;
				font-size: 16px;
				display: flex;
				gap: 6px;

				&.link-more {
					font-weight: 600;
					text-decoration: underline;
				}
			}
		}
	}

	.single-banner-cta {
		.single-title {
			font-size: 32px;
		}

		.item-text {
			span {
				font-size: 15px;
			}

			.btn-a {
				border-radius: 8px;
			}
		}
	}

	.box-side {
		&-cate {
			padding: 14px 12px;

			.box-side-title {
				font-size: 18px;
				font-family: "Roboto", sans-serif;
				text-transform: uppercase;
			}

			.list-cate-side {
				list-style: none;
				padding-left: 0;
				margin-bottom: 0;

				.item {
					font-size: 16px;

					a {
						color: #4A4A4A;

						&:hover {
							color: $color_main;
							font-weight: 700;
						}
					}

					&.active {
						a {
							color: $color_main;
							font-weight: 700;
						}
					}

					&:not(:last-child) {
						margin-bottom: 18px;
						padding-bottom: 18px;
						border-bottom: 0.5px solid #C9C9C9;
					}
				}
			}
		}
	}
}