@font-face {
	font-family: MTD;
	src: url(/fonts/MTD-Auto-Quick.otf);

}

img {
	width: 100%;
	height: auto;
}

.queboi {
	position: relative;
	max-height: 100vh;
	height: 100vh;
	padding-top: 30px;
	overflow: hidden;

	&-title {
		font-size: 70px;
		font-family: MTD;
		font-weight: 400;
		text-align: center;
		margin-bottom: 14px;
		background: linear-gradient(0deg, #F0B81D 0%, #FFFFFF 50.48%, #EEAE00 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-transform: capitalize;

		&-child {
			color: #fff;
			font-weight: 800;
			font-family: "Montserrat", sans-serif;
			margin-bottom: 23px;
			font-size: 25px;
			text-transform: uppercase;
			text-align: center;
		}
	}

	&-bg {
		background-image: url(/images/img_queboi/bg-page.png), url(/images/img_queboi/bg-page2.png);
		background-size: 100vw 60vh, 100vw 40vh;
		background-position: top center, bottom center;
		background-repeat: no-repeat;
	}

	&-logo {
		width: 198px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 35px;
	}

	&-hoadao1 {
		position: absolute;
		width: 24vw;
		left: 0;
		top: 0;
		z-index: 99999;

	}

	&-hoadao2 {
		position: absolute;
		width: 24vw;
		right: 0;
		top: 0;
		z-index: 99999;

	}

	&-nha1 {
		position: absolute;
		width: 19vw;
		left: -40px;
		top: 236px;
		mix-blend-mode: multiply;
	}

	&-nha2 {
		position: absolute;
		width: 20vw;
		right: 0;
		top: 266px;
		mix-blend-mode: multiply;
	}

	&-may1 {
		position: absolute;
		width: 34vw;
		left: -10px;
		top: 516px;
		mix-blend-mode: screen;
		// animation: moveLR 3s ease-in-out infinite alternate;
	}

	&-may2 {
		position: absolute;
		width: 32vw;
		right: -5px;
		top: 531px;
		mix-blend-mode: screen;
		// animation: moveLR 3s ease-in-out infinite alternate;
	}

	&-radianbg {
		position: absolute;
		bottom: 75px;
		height: 28vh;
		left: 0;
		mix-blend-mode: screen;
	}

	&-xeng1 {
		position: absolute;
		width: 7vw;
		bottom: 46%;
		left: 23%;
		z-index: 3;
		// mix-blend-mode: lighten;
	}

	&-xeng2 {
		position: absolute;
		width: 7vw;
		bottom: 25%;
		right: 13%;
		z-index: 3;
	}

	&-voucher1 {
		position: absolute;
		width: 7vw;
		bottom: 15%;
		left: 15%;
		z-index: 3;
	}

	&-voucher2 {
		position: absolute;
		width: 7vw;
		bottom: 10%;
		right: 30%;
		z-index: 3;
	}

	&-gocmay1 {
		position: absolute;
		width: 15vw;
		bottom: 0;
		right: 0;
		z-index: 3;
	}

	&-gocmay2 {
		position: absolute;
		width: 15vw;
		bottom: 0;
		left: 0;
		z-index: 3;
	}
}

.queboi-boximg {
	position: relative;
	margin-bottom: 40px;
}

.title-bg {
	color: #D90A0E;
	position: relative;
	z-index: 3;
	font-size: 22px;
	margin-bottom: 5px;
}

.img-cong {
	margin: 0 auto;
	width: 22vw;
	position: relative;
}

.longden1 {
	position: absolute;
	left: -35px;
	top: 35%;
	width: 5vw;
	// mix-blend-mode: screen;
	// animation: windBlow 3s ease-in-out infinite alternate;
}

.longden2 {
	position: absolute;
	right: -35px;
	top: 35%;
	width: 5vw;
	//mix-blend-mode: screen;
	//animation: windBlow 3s ease-in-out infinite alternate;
}

.bong-cong {
	position: absolute;
	mix-blend-mode: multiply;
	width: 28vw;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 40px);
}

.ngua-lac {
	position: absolute;
	width: 16vw;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 40px);
	// animation: horseMove 3s ease-in-out infinite;
	// animation: shakeX 1s ease-in-out infinite;
}

.atc-event {
	display: block;
	width: 13vw;
	text-align: center;
	position: relative;
	z-index: 3;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6px;
}

.show-rules {
	position: relative;
	z-index: 3;
	color: #D90A0E;
	font-size: 16px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

.modal.show {
	background: rgba(#600B10, .8);
	font-family: "Montserrat", sans-serif;
}

.modal#modal_envent .modal-content {
	background: transparent;
	border: none;
}

.popup-logo {
	width: 10vw;
	margin: 0 auto 44px auto;
}

.popup-title {
	font-size: 70px;
	font-family: MTD;
	font-weight: 400;
	text-align: center;
	margin-bottom: 32px;
	background: linear-gradient(0deg, #F0B81D 0%, #FFFFFF 50.48%, #EEAE00 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#modal_envent .modal-dialog {
	max-width: 100vw;
	max-height: 100vh;
}

.popup-title-child {
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 0;
}

.popup-voucher {
	font-size: 70px;
	font-weight: 800;
	text-transform: uppercase;
	color: #FFE65B;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 30px;
}

.popup-wish {
	width: 20vw;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	margin: 0 auto 30px auto;
}

.popup-showfom {
	display: block;
	width: 10vw;
	margin: 0 auto;
}

.btn-close {
	display: block;
	width: 60px;
	height: 60px;
	margin: 80px auto 0 auto;
}

.form-event {
	margin: 0 auto;
}

.form-event input {
	width: 30vw;
	height: 65px;
	border-radius: 20px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

.form-text-title {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	margin-bottom: 40px;
	font-weight: 700;
}

.form-text {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 30px;
}

.btn-send {
	display: block;
	margin: 0 auto 20px auto;
	width: 15vw;
}

.content-form .show-rules {
	color: #fff;
	display: block;
}

#modal_rules .modal-dialog {
	max-width: 700px;
}

#modal_rules .popup-logo {
	position: absolute;
	top: -140px;
	left: 50%;
	transform: translateX(-50%);
}

#modal_rules .btn-close {
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	margin: 0;
	bottom: -180px;
}

#modal_rules .modal-content {
	padding: 50px 35px;
	border-radius: 40px;
}

.ruler-title {
	margin-bottom: 35px;
	font-size: 36px;
	font-weight: 800;
	color: #D90A0E;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
}

.rules-content {
	font-family: "Montserrat", sans-serif;
}

.rules-content .title {
	font-size: 18px;
	font-weight: 700;
}

.rules-content ul {
	font-size: 18px;
	padding-left: 15px;
}

.btn-scc {
	display: block;
	margin: 0 auto 20px auto;
	width: 15vw;
}

#modal_envent .text-phone {
	font-size: 40px;
	font-weight: 700;
	color: #FFE65BE6;
	margin-bottom: 16px;
}

#modal_envent .text-note {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 18px;
	color: #fff;

	&.text-bg {
		margin-bottom: 40px;
		color: #FFE65B;
	}
}

@keyframes shakeX {
	0% {
		transform: rotate(0deg) translate(-50%, 40px);
	}

	20% {
		transform: rotate(-6deg) translate(-50%, 40px);
	}

	40% {
		transform: rotate(6deg) translate(-50%, 40px);
	}

	60% {
		transform: rotate(-4deg) translate(-50%, 40px);
	}

	80% {
		transform: rotate(4deg) translate(-50%, 40px);
	}

	100% {
		transform: rotate(0deg) translate(-50%, 40px);
	}
}

@keyframes horseMove {

	/* Vị trí ban đầu */
	0% {
		transform: translateX(-50%) rotateY(0deg);
	}

	// /* Tiến lên trước 30px */
	40% {
		transform: translateX(-60%) rotateY(0deg);
	}

	/* Quay đầu tại chỗ */
	55% {
		transform: translateX(-60%) rotateY(180deg);
	}

	/* Đi ngược về điểm cũ */
	100% {
		transform: translateX(-50%) rotateY(180deg);
	}
}

@keyframes moveLR {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(20px);
	}
}

@keyframes windBlow {
	0% {
		transform: translateX(0) rotate(0deg);
	}

	50% {
		transform: translateX(15px) rotate(3deg);
	}

	100% {
		transform: translateX(-10px) rotate(-2deg);
	}
}

@keyframes moveLeftRight {
	0% {
		transform: translateX(-30px);
	}

	50% {
		transform: translateX(30px);
	}

	100% {
		transform: translateX(-30px);
	}
}