.servie-page {
	.box {
		&-content {
			font-size: 16px;

			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&-img {
			border-radius: 20px;
			overflow: hidden;
		}

		&-quote {
			background: #fff;
			padding: 15px 20px;
			border-bottom-left-radius: 30px;
			border-top-right-radius: 30px;
			border-top: 2px solid #9F2C2C;
			box-shadow: 0px 0px 20px 0px #9F2C2C14;
			margin-bottom: 0;

			p {
				margin-bottom: 10px;
				font-size: 16px;
			}

			h3 {
				color: $color_main;
				font-size: 20px;
				font-weight: 700;
				margin-bottom: 0;
			}

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	.section-procedure {
		padding: 0;
		margin-bottom: 60px;

		.inner-desc {
			margin-bottom: 0;
			font-size: 15px;
			color: #4A4A4A;
		}
	}
}

.service-info {
	padding-bottom: 60px;

	.box-content {
		margin-bottom: 30px;
	}
}

.section-title-btn {
	width: max-content;
	margin: 0 auto;
	color: #fff;
	padding: 8px 20px;
	background: $color_main;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 0px #9F2C2C1A;
}

.sevice-procedure {
	padding-bottom: 60px;

	.section-title {
		margin-bottom: 20px;
	}

	.section-desc {
		margin-bottom: 20px;
	}

	.section-title-btn {
		margin-bottom: 15px;
	}

	.inner {
		&-img {
			width: 190px;
			height: 190px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}

		&-number {
			text-align: center;
			color: #fff;
			font-size: 30px;
			font-weight: 700;
			padding: 0 11px;
			margin-left: auto;
			margin-right: auto;
			width: max-content;
			background: $color_main;
			border-radius: 10px;
			margin-bottom: 10px;
			line-height: 1.4;
			text-transform: capitalize;
			font-family: "Libre Bodoni", serif;
		}

		&-desc {
			font-size: 16px;
			margin-bottom: 0;
		}
	}

	.list-procedure {
		margin-bottom: 40px;
		position: relative;

		&2 {
			row-gap: 20px;
		}

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 30%;
			height: 2px;
			background: $color_main;
		}

		&::after {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			border-top: 2px solid #9F2C2C;
			border-right: 2px solid #9F2C2C;
			right: -4px;
			bottom: 30%;
			transform: translate(-50%, 4px) rotate(45deg);
		}
	}

	.box-list {
		margin-bottom: 25px;

		.item {
			font-size: 16px;
			margin-bottom: 0;

			&:not(:last-child) {
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-bottom: 1px solid #DADADA;
			}
		}
	}

	.box-quote {
		padding: 20px 23px;
	}

}

.item-row-form {
	margin: 0 -8px;

	.item-col-form {
		padding: 0 8px;
	}
}

.service-form {
	background: url(/images/banner-form-service.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 50px;

	.section-title {
		margin-bottom: 15px;
	}

	.section-desc {
		margin-bottom: 25px;
	}

	input,
	textarea {
		border: 1px solid #DADADA;
		margin-bottom: 16px;
	}

	.btn-submit {
		margin-top: 0;

		&:hover {
			background: $color_main;
		}
	}

	.box-img {
		width: 461px;
		height: 480px;
		margin: 0 auto;
	}
}

.service-procedure {
	padding: 60px 0;

	.btn-a {
		background: $color_main;

		&:hover {
			background: $color_bg;
			color: #fff;
		}
	}
}

.service-sick {
	padding-bottom: 60px;

	.list-service-sick {
		row-gap: 30px;
	}

	.inner {
		display: flex;
		background: #fff;
		padding: 30px 0;
		box-shadow: 0px 0px 20px 0px #9F2C2C1A;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		border-radius: 10px;
		overflow: hidden;
		row-gap: 15px;

		&-icon {
			width: 60px;
			height: 60px;
			margin: 0 auto;
		}

		&-title {
			color: #3C2517;
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 0;
		}

		&:hover {
			background: $color_main;

			.inner-title {
				color: #fff;
			}
		}
	}
}

.service-contribute {
	padding-bottom: 60px;

	.inner-img {
		width: 100%;
		aspect-ratio: 555/312;
		border-radius: 20px;
		overflow: hidden;
	}

	.inner-title {
		padding: 14px 40px;
		color: $color_main;
		font-size: 20px;
		font-weight: 700;
		background: #fff;
		border-bottom: 2px solid $color_main;
		width: max-content;
		margin: 0 auto;
		position: relative;
		border-radius: 10px;
		transform: translateY(-50%);
	}
}

.service-banner-cta {
	position: relative;
	margin-bottom: 60px;

	.section-title {
		margin-bottom: 15px;
	}

	.section-desc {
		margin-bottom: 0;
	}

	.btn-a {
		background: $color_main;
		padding: 16px 36px;
		font-size: 15px;
	}

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 90%;
		background: #FBF3E0;
		bottom: 0;
		left: 0;
	}
}

.service-commit {
	margin-bottom: 60px;

	.box-text {
		background: #fff;
		display: flex;
		column-gap: 20px;
		border-bottom-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom: 2px solid $color_main;
		align-items: center;
		padding: 18px 20px;

		h3 {
			color: $color_main;
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 0;
		}

		.img {
			flex-shrink: 0;
			width: 60px;
			height: 60px;
		}

		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}
}

.page-form {
	background: url(/images/banner-form-end.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 680px;
	position: relative;

	.height-form {
		height: 680px;
	}

	.form-bg {
		padding: 20px;
	}

	.btn-submit {
		margin-bottom: 25px;
	}

	.form-note {
		color: #fff;
		font-size: 15px;
		text-align: center;
		margin-bottom: 7px;

		a {
			color: #FFBE5D;
			font-weight: 700;
		}

		.fa {
			color: #FFBE5D;
			margin-right: 5px;
		}
	}

	&::before {
		content: '';
		position: absolute;
		width: 70%;
		left: 0;
		bottom: 0;
		height: 100%;
		background: url(/images/bs-form-vananh.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
}