.back-more {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color_main;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 30px;
	column-gap: 7px;
	text-transform: uppercase;
}

.box-single-video {
	background: linear-gradient(180deg, #9F2C2C 7.36%, #BE4C4C 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 749px;
	border-radius: 20px;
	margin-bottom: 30px;

	.box-video {
		height: 100%;
		aspect-ratio: 9/16;
	}
}

.box-single-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;

	.section-title {
		font-size: 24px;
		margin-bottom: 0;
	}

	.item {
		background: #FFF4E3;
		padding: 5px 10px;
		border-radius: 5px;
		display: flex;
		column-gap: 10px;
		flex-shrink: 0;
		font-size: 12px;
		color: #4A4A4A;

		span {
			display: flex;
			column-gap: 5px;
		}
	}
}

.single-meta-doctor {
	.process {
		display: flex;
		column-gap: 15px;

		span {
			font-size: 10px;
			padding: 3px 5px;
			border-radius: 3px;
			background: #FFE6E6;
			color: $color_main;

			&:last-child {
				color: #4A4A4A;
				background: #FFF4E3;
			}
		}
	}
}

.single-video {
	.entry {
		background: #fff;
		padding: 20px;
		box-shadow: 0px 3px 15px 0px #9F2C2C14;
		border-radius: 10px;
		margin-bottom: 22px;
		color: #4A4A4A;

		.time {
			font-size: 16px;
			color: #222222;
			margin-bottom: 10px;
			font-weight: 500;
		}
	}

	.read-more {
		color: #4A4A4A;
		font-weight: 700;
	}

	.readmore-toggle {
		color: #4A4A4A;
		font-weight: 700;
	}
}

.box-horizontal {
	height: auto;

	.box-video {
		width: 100%;
		aspect-ratio: 848/476;
		border-radius: 20px;
		overflow: hidden;
	}
}

.contact-cta {
	.btn-a {
		background: $color_main;

		&:hover {
			color: #fff;
			background: $color_bg;
		}
	}
}