.breadcrumb {
	color: $color_main;
	background: transparent;
	padding: 30px 0;
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: 400;
	a {
		color: $color_main;
		&:hover{
			color: $color_bg;
		}
	}
}