.menu-header {
	padding: 0;

	.main-menu {
		display: flex;
		gap: 50px;
		justify-content: center;
	}
}

.header-menu {
	padding: 14px 0;
	box-shadow: 0px 4px 10px 0px #9F2C2C14;
}

.nav {
	&-link {
		padding: 0 !important;
		font-size: 15px;
		color: $color_main;
		font-weight: 700;
		text-transform: uppercase;

		&:hover {
			color: $color_bg;
		}
	}


	&-item {
		.dropdown-menu {
			display: block;
			transition: all .3s;
			transform: translateY(30px);
			opacity: 0;
			visibility: hidden;
		}

		&.dropdown:hover {
			&>.dropdown-menu {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
	}
}

@media (max-width:575px) {
	.header-menu {
		padding: 0;
		box-shadow: none;
		position: relative;
	}

	.menu-header {
		position: absolute;
		transform: translateX(-100%);
		opacity: 0;
		visibility: hidden;
		align-items: flex-start;
		padding-top: 30px;
		padding-left: 15px;
		left: 0;
		top: 0;
		width: 70vw;
		height: 60vh;
		transition: all .3s;
		box-shadow: 0px 4px 10px 0px #9F2C2C14;

		&.show-menu {
			transform: translateX(0);
			opacity: 1;
			visibility: visible;
			z-index: 3;
			background: #fff;
		}

		.navbar-nav {
			gap: 20px;
		}

		.nav {
			&-item {
				.dropdown-menu {
					display: none;

					&.show {
						display: block;
						border: none;
					}
				}
			}
		}
	}
}