.post {
    &-thumbnail {
        width: 100%;
        aspect-ratio: 555/350;
        margin-bottom: 14px;
        display: block;
        border-radius: 20px;
        overflow: hidden;

        img {
            object-fit: cover;
            object-position: 50% 50%;
            -o-object-position: 50% 50%;
            width: 100%;
            height: 100%;
        }
    }

    &-title {
        font-size: 16px;
        font-weight: 700;
        color: #111;

        a {
            color: #111;

            &:hover {
                color: $color_bg;
            }
        }

        margin-bottom: 10px;
    }

    &-desc {
        margin-bottom: 0;
        font-size: 15px;
        color: #606060;
    }

    &-date {
        display: flex;
        gap: 8px;
        font-size: 14px;
        margin-bottom: 14px;
        color: #606060;
    }

    &-flex {
        display: flex;
        gap: 16px;

        .post-thumbnail {
            width: 200px;
            aspect-ratio: 100/63;
            flex-shrink: 0;
            margin-bottom: 0;
            border-radius: 10px;
        }

        .post-date {
            margin-bottom: 8px;
        }

        .post-title {
            font-size: 16px;
            margin-bottom: 5px;
        }
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (max-width:575px) {
    .post {
        &-flex {
            .post-thumbnail {
                width: 180px;
                aspect-ratio: 180/112;
            }
        }
    }
}